---
layout: index
---

<ul class="posts">
  {% for pub in site.data.publications %}
  <li class="post post-header">
      <h3 align=left>
      
    {% if pub.url != null %}
        <a href="{{ pub.url }}" target="_blank" class="post-link post-title">
              {{ pub.title }}<br/>
	</a>
    {% else %}
        {{ pub.title }}<br/>
    {% endif %}
      
      </h3>
    <p align=left>{{ pub.auth }}</p>
    <p align=left>{{ pub.where }}</p>
    <div align=left>
    {% if pub.code != null %}
	<a href="{{ pub.code }}" target="_blank"><div class="fa fa-code"></div></a>
    {% endif %}
    {% if pub.pdf != null %}
	<a href="{{ pub.pdf }}" target="_blank"><div class="fa fa-file"></div></a>
    {% endif %}
    {% if pub.video != null %}
	<a href="{{ pub.video }}" target="_blank"><div class="fa fa-file-video"></div></a>
    {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
